---
import { Icon } from 'astro-icon/components'
import { socialLinks } from '../data/config.ts'
---

<footer class="p-6 text-center">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div class="col-span-2 ">
      <div class=" mb-4">
        <p>Seguime en mis redes sociales</p>
      </div>
<div class="flex justify-center">
        <a href={socialLinks.linkedin.url} target="_blank" class="px-3" aria-label={socialLinks.linkedin.label}>
            <Icon class="size-8" name={socialLinks.linkedin.icon}/>
        </a>
        <a href={socialLinks.github.url} target="_blank" class="px-3" aria-label={socialLinks.github.label}>
            <Icon class="size-8" name={socialLinks.github.icon}/>
        </a>
        <a href={socialLinks.instagram.url} target="_blank" class="px-3" aria-label={socialLinks.instagram.label}>
            <Icon class="size-8" name={socialLinks.instagram.icon}/>
        </a>
        <a href={socialLinks.whatsapp.url} target="_blank" class="px-3" aria-label={socialLinks.whatsapp.label}>
            <Icon class="size-8" name={socialLinks.whatsapp.icon}/>
        </a>
        <a href={socialLinks.telegram.url} target="_blank" class="px-3" aria-label={socialLinks.telegram.label}>
          <Icon class="size-8" name={socialLinks.telegram.icon} />
        </a>
      </div>
   
    </div>
    <div class="sr-only sm:not-sr-only">
      <div class="mb-4 ml-5 text-start">
        <p class="flex flex-col">Menu</p>
      </div>
      <ul id="click-item " class=" ml-5 text-start">
        <li class="mt-2 text-white hover:text-gray-500 " >
            <a  href="#about"   >
                <h2 class="text-lg">Sobre Mí</h2>
            </a>
        </li>
        <li class="mt-2 text-white hover:text-gray-500">
            <a  href="#projects"  >
                <h1 class="text-lg">
                    Proyectos
                </h1>
            </a>
        </li>
        <li class=" mt-2 text-white hover:text-gray-500">
            <a href="#experence" >
                <h1 class="text-lg">
                    Experiencia
                </h1>
            </a>
        </li>
      </ul>
    </div>
    <div class="col-span-3">
      <p>&copy; 2025 Todos los derechos reservados.</p>
    </div>
  </div>
  

    
</footer>